<link rel="stylesheet" href="disciplina.component.css">
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="#">
          <img src="../../../assets/img/logo.png" alt="" width="50px" height="50px">
        </a>
    </div>
	<ul  class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4" >
		<li id="nav-dropdown" class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="true"><i class="fas fa-user fa-fw"></i></a>
			<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
				<li><a class="dropdown-item" href="#!">Settings</a></li>
				<li><a class="dropdown-item" href="/login">Iniciar Sesión</a></li>
				<li><hr class="dropdown-divider" /></li>
				<li><a class="dropdown-item" href="/registro">Registrarse</a></li>
			</ul>
		</li>
	</ul>
</nav>

<div class="d-flex">
    <div id="sidebar-container" class="bg-primary">
        <div class="titulo">
            <h4 class="text-light font-weight-bold" >Olimpiadas universitarias</h4>

        </div>
        <div class="menu">
            <a href="/login" class="d-block text-light p-3 mr-3 center"> iniciar sesion</a>
            <a href="/registro" class="d-block text-light p-3 mr-3 center"> registrarse</a>
            <hr><hr><hr><hr><hr><hr><hr><hr><hr><hr><hr><hr>
            <p class="text-light p-3"> Síguenos en nuestras redes sociales</p>
            <a href="#"><img src="../../../assets/img/logoGH.png" class="img-fluid rounded-circle p-1"  alt="github" width="50" height="50"></a>
            <a href="#"><img src="../../../assets/img/logoFB.png" class="img-fluid rounded-circle p-1"  alt="Facebook" width="50" height="50"></a>
            <a href="#"><img src="../../../assets/img/logoIG.jpg" class="img-fluid rounded-circle p-1"  alt="Instagram" width="50" height="50"></a>
            <a href="#"><img src="../../../assets/img/logoTT.png" class="img-fluid rounded-circle p-1"  alt="Twitter" width="50" height="50"></a>
            

        </div>
    </div>

    <div id="content">
        <section>
            <div class="card " style="width: 60rem;">

                <div class="card-header">
                    <h3><i class="fa-solid fa-medal"></i>&nbsp;&nbsp;Disciplina</h3>
                    <button style="float: right;" (click)="openModalDisciplina()" type="button" class="btn btn-success btn-sm">Agregar disciplina<i class="fa-solid fa-floppy-disk"></i></button>
                </div>

                <div class="card-body">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th class="text-center">Disciplina</th>
                                <th class="text-center">Descripción</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let disciplina of disciplinas">
                                <td class="text-center">{{ disciplina.disciplina }}</td>
                                <td class="text-center">{{ disciplina.descripcion }}</td>
                                <td>
                                    <div>
                                        <button (click)="updateDisciplina(disciplina)" type="button" class="btn btn-outline-primary">Editar <i class="fas fa-edit"></i></button>
                                        &nbsp;&nbsp;
                                        <button (click)="deleteDisciplina(disciplina.id)" type="button" class="btn btn-outline-danger">Eliminar <i class="fas fa-trash"></i></button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>

</div>



<div class="modal" id="disciplinaModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">{{modalTitle}} Disciplina</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <form [formGroup]="disciplinaForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label for="disciplina">Disciplina<span class="text-danger">*</span></label>
                        <input type="text" formControlName="disciplina" class="form-controls" [ngClass]="{ 'is-invalid': submitted && f.disciplina.errors }"/>
                        <div *ngIf="submitted && f.disciplina.errors" class="invalid-deefback">
                            <div *ngIf="f.disciplina.errors.required">El nombre de la disciplina es obligatorio</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="descripcion">Descripción<span class="text-danger">*</span></label>
                        <input type="text" formControlName="descripcion" class="form-controls" [ngClass]="{ 'is-invalid': submitted && f.descripcion.errors }"/>
                        <div *ngIf="submitted && f.descripcion.errors" class="invalid-deefback">
                            <div *ngIf="f.descripcion.errors.required">La descripción es obligatorio</div>
                        </div>
                    </div>

                    <p class="text-right"><span class="text-danger">*</span>Campos requeridos</p>
                    <div>
                        <button class="btn btn-outline-success btn-block">Guardar<i class="fas fa-save"></i></button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-outline-danger" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>